.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #ffffff13;
}

a {
  text-decoration: none;
}

a:-webkit-any-link {
  color: #111;
  cursor: pointer;
  text-decoration: none;
}

.header-zone {
  width: 100%;
  height: max-content;
  margin-top: 3%;
}

.header {
  width: 13%;
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  margin-left: 5%;
  padding: 1%;
  font-size: 2vw;
  font-weight: 700;
  letter-spacing: -1.5px;
  color: #111;
}

.title_zone {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-align: center;
  margin-top: 7%;
}

.title {
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  width: 40vw;
  font-size: 2.1vw;
  font-weight: 800;
  letter-spacing: -1px;
}

.title_img {
  margin-bottom: 5%;
  cursor: pointer;
  width: 300px;
}

.text_gradient {
  font-family: "Poppins", "Noto Sans KR", sans-serif !important;
  font-weight: 900;
  background-image: linear-gradient(45deg, #11998e 25%, #38ef7d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.title_desc {
  padding: 0 30vw 0 30vw;
  font-size: 1vw;
  font-weight: 400;
  font-family: "Noto Sans KR", sans-serif !important;
}

.input_zone {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2%;
}

.list_zone {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-top: 1.5%;
  margin-bottom: 10%;
}

.table_block {
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding: 0;
}

.table th {
  padding: 2% 0 2% 0;
}

.table thead {
  font-size: 0.75vw !important;
  padding-bottom: 3%;
  background-color: #ffffffcc;
  color: #454545;
}

.table thead .th1 {
  margin-left: 2%;
  margin-right: 2%;
  width: 10vw;
  text-align: center;
  font-family: "Poppins", "Noto Sans KR", sans-serif !important;
  font-weight: 600;
}

.table thead .th2 {
  width: 27vw;
  font-family: "Poppins", "Noto Sans KR", sans-serif !important;
  font-weight: 600;
  padding: 0 0 0 2%;
}

.table thead .th3 {
  margin-left: 2%;
  margin-right: 2%;
  width: 15vw;
  font-family: "Poppins", "Noto Sans KR", sans-serif !important;
  text-align: center;
  font-weight: 600;
}

.table td {
  font-size: 0.8vw !important;
  padding: 2% 0 2% 0;
}

.table .td1 {
  font-family: "Poppins", "Noto Sans KR", sans-serif !important;
  font-size: 0.8vw !important;
  padding: 2% 0 2% 0%;
  text-align: center;
}

.table .td2 {
  font-family: "Poppins", "Noto Sans KR", sans-serif !important;
  font-size: 0.8vw !important;
  padding: 0 0 0 2%;
  color: #444;
}

.table .td3 {
  font-family: "Poppins", "Noto Sans KR", sans-serif !important;
  font-size: 0.8vw !important;
  text-align: center;
}

.table tbody tr {
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding-bottom: 2.5%;
  border-bottom: 1px solid #55555522;
}

.table tbody tr:hover {
  background-color: #0b528c44;
  font-weight: 500;
}

.category_options {
  transition: all 0.3s ease-in-out;
}

select {
  width: 10vw;
  height: 5vh;
  font: 0.9vw;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 5%;
  padding: 0.3% 1%;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  background-color: transparent;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;
  /* border-radius: 10px;
    border-width: 0.13vw;
    border-style: solid;
    border-color: #222;
    border-image: initial; */
}

input {
  width: 9vw;
  height: 5vh;
  text-rendering: auto;
  color: #333;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 5%;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  background-color: transparent;
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font-size: 0.98vw;
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  font-weight: 500;
  padding: 0.5vw 0.3vw;
  border: none;
  border-radius: 10px 0 0 10px;
}

input::placeholder {
  color: #ced4da;
}

.input_name {
  margin-left: 1%;
  font-size: 0.9vw;
}

.input_name svg {
  margin-right: 1vw;
  font-size: 0.98vw;
}

.input_name input {
  width: 12vw;
}

.category_input {
  width: 10vw;
  height: 5vh;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 5%;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  background-color: #f7f9fd;
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 0.5vw 0.3vw;
  border: none;
  border-radius: 10px;
}

button {
  width: 8vw;
  height: 5vh;
  color: rgba(11, 82, 140, 0.836);
  font-size: 0.8vw;
  font-weight: 700;
  appearance: auto;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: pointer;
  background-color: transparent;
  box-sizing: border-box;
  margin-left: 2vw;
  padding: 5% 5%;
  border: 2px solid rgba(11, 82, 140, 0.836);
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
  font-family: "Noto Sans KR", sans-serif !important;
}

button:hover {
  background-color: rgba(11, 82, 140, 0.836);
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.table_button {
  left: calc(50% - 6vw);
  margin-top: 8%;
  font-family: "Poppins" !important;
  width: 12vw;
  position: relative;
  height: 4vh;
  line-height: 0.4vw;
  font-weight: 700;
  text-align: center;
}

svg {
  overflow: visible;
  margin-left: 0.5vw;
  color: rgb(255, 95, 95);
  transition: all 0.2s ease-in-out;
}

.green_circle svg {
  color: #52b788 !important;
}

.code_inquery {
  width: 10vw;
  border-radius: 10px;
  background: transparent !important;
  color: #555;
  font-family: "Noto Sans KR", sans-serif !important;
  border: none;
  font-size: 0.9vw;
  margin-left: 0;
}

.code_inquery:hover {
  color: #333;
}

.code_complete {
  font-size: 0.98vw;
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  font-weight: 500;
  color: #555;
}

.code_complete svg {
  color: #52b788 !important;
}

.intro_zone {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10% 30%;
  text-align: center;
  justify-content: center;
}

.step {
  margin: 1.5%;
  width: 97%;
  height: 16vh;
  background-color: #f7f9fd;
  border-radius: 10px;
  overflow: hidden;
  display: flex-wrap;
  position: relative;
}

.step_deco {
  content: "";
  float: right;
  position: absolute;
  right: 0;
  width: 0px;
  height: 0px;
  border-bottom: 60px solid transparent;
}

.step .step_desc {
  background-color: transparent;
  font-weight: 600;
  color: #353535;
  padding: 5%;
  padding-top: 16%;
}

i {
  padding-top: 7%;
  background-color: transparent;
  transform: scale(3, 3);
  color: #393939;
}

.loading_zone {
  display: block;
  margin: 0 25% 10% 25%;
  width: 50%;
  border-radius: 20px;
  height: max-content;
  background-color: transparent;
  display: flex-wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loading_effect_zone {
  padding: 5% 5% 1% 5%;
}

.loading_txt {
  padding: 0 0 5% 0;
  font-size: 1.2vw;
}

::-webkit-scrollbar {
  display: none;
}

.similarity_top5 {
  padding-top: 2%;
  padding-left: 30%;
  padding-bottom: 2%;
  font-size: 0.9vw;
  display: block;
  text-align: left;
}

.similarity_top5 div {
  padding-top: 1%;
  padding-bottom: 0.5%;
}

.result_zone {
  padding-top: 5%;
  width: 100vw;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}

@keyframes slidein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.report_zone1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  background: rgba(11, 82, 140, 0.089);
  border-radius: 20px 20px 0 0;
  position: relative;
  box-shadow: 0 0 10px 10px #7483a805;
}

.report_zone1::before {
  content: "";
  width: 7vw;
  height: 3vw;
  background-image: url("신호등.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.most_similarity {
  display: flex;
  flex-direction: column;
  height: max-content;
}

.most_similarity_txt {
  font-size: 1vw;
  font-weight: 600;
  position: relative;
  left: 0;
  color: #333;
  margin-left: 5%;
  margin-top: 1.5%;
}

.most_similarity_num {
  position: relative;
  left: 0;
  font-size: 2.2vw;
  font-weight: 600;
  margin-left: 5%;
  margin-bottom: 2%;
}

.report_zone2 {
  display: flex;
  flex-direction: row;
  width: 50%;
  background-color: rgba(11, 82, 140, 0.534);
  border-radius: 0 0 20px 20px;
  position: relative;
  margin-bottom: 10%;
}

.result_url {
  position: absolute;
  left: 50%;
  top: 20%;
  margin-bottom: 3%;
  width: 40%;
}

.similar_list {
  margin: 5%;
}

.list_title {
  font-weight: 600;
  font-size: 1.1vw;
  padding-bottom: 5%;
}

ul {
  list-style-type: none;
}

ul li {
  background-color: #ffffff77;
  border-radius: 10px;
  width: 20vw;
  display: flex;
  padding: 5%;
  margin-top: 5%;
}

.rank {
  font-size: 1vw;
  padding-right: 3vw;
}

.mark_name {
  font-size: 1vw;
}

.project_name {
  font-family: "Poppins", "Noto Sans KR", sans-serif !important;
  font-weight: 570;
  width: 95%;
  font-size: 1.7vw;
  margin-left: 3.2%;
  margin-top: 2%;
}

.banner {
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  font-size: 1.7vw;
  line-height: 3vw;
  color: rgba(11, 82, 140, 0.836);
  align-content: stretch;
  align-items: center;
  padding: 10px;
}

.banner table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: seperate;
  border-spacing: 5px;
}
.banner td {
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
}
